.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 20px;
    align-items: start;

}

.flex-item{
    border: 1px solid green;
    background-color: yellow;
    align-content: center;
    font-size: 30px;
    height: 450px;
    width: 280px;
    text-align: center;
}