
.para{
    color: rgb(157, 224, 21);
    
}

#name{
    color: beige;
    background-color: rgb(127, 19, 189);
}

.a{
    color: bisque;
    background-color: blue;
}
#table{
    background-color: antiquewhite;
}
#ul{
    color: rgb(153, 44, 170);
}
